body{
    font-family: sans-serif;
}

/* navbar */
.navbar{
    padding: 0% 2% 0% 2%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.navbar-brand{
    width: 200px;
    margin: 0% 2% 0% 0%;
    padding-bottom: 10px;
}
.navbar-nav{
    margin: 0% 0% 0% 6%;
}
.navbar-brand h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* end of navbar */





/* carousel */

#heroCarousel{
    padding-top: 80px;
    
}
#carouselExampleCaptions {
    max-width: 80%; /* Set your desired maximum width */
    margin: auto; /* Center the carousel on the page */
}
.carousel{
    border-radius: 20px;
}
.carousel-inner{
    border-radius: 20px;
}
.c-item{
    max-height: 600px;
}
.c-img{
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}


/* end of carousel */





/* section e-goverment */
#egoverment{
    margin-top: 40px;
    height: 800px;
    background-color: #077739;
    border-radius: 80px 80px 0px 0px;
}
.head-egov{
    padding-top: 20px;
    color: white;
    border-radius: 20px 20px 0px 0px;
    max-width: 70%;
    background-color: #077739;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin: auto;
}
.container-egov{
    padding: 10px 50px 10px 50px;
    color: white;
    max-width: 80%;
    border-radius: 0px 0px 20px 20px;
    background-color: #077739;
    font-style: normal;
    margin: auto;
}

/* end of section e-goverment */





/* section card  */
.cd-img{
    height: 100%;
    object-fit: cover;
}
.card{
    background-color: #01A149;
    color: white;
    margin: 0.1rem;
    font-family: sans-serif;
}

/* end of section card  */





/* section informasi */

#informasi{
    max-width: 80%; 
    margin: auto; 
    display: flex;
    background-color: white;
    margin-top: -300px !important;
    border-radius: 20px 20px 20px 20px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.container-info{
    margin: 0px 20px 20px 20px; 
    display: flex;
}



.head-berita h2{
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bold; 
    font-size: 36px;
}
.container-berita{
    margin: 0px 10px 0px 10px; 
}
.berita-card-container{
    border-radius: 20px;
    height: 750px; 
    padding-top: 20px;
}


.head-galeri h2{
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bold; 
    font-size: 36px;
}
.container-galeri{
    margin: 0px 10px 0px 10px; 
}
.galeri-card-container{
    border-radius: 20px;
    height: 750px; 
    padding-top: 20px;
}
/* end of section informasi */





/* section informasi-2 */
#informasi-2{
    margin-top: 40px !important;
    max-width: 80%; 
    margin: auto; 
    display: flex;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container-informasi-2{
    margin: 0px 20px 20px 20px; 
    display: flex;
}
.head-pengumuman h2{
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bold; 
    font-size: 36px;
}
.container-pengumuman{
    border-radius: 20px;
    margin: 0px 10px 0px 10px; 
}
.pengumuman-card-container{
    border-radius: 20px;
    height: 400px; 
    padding-top: 20px;
}
.link-pengumuman a{
    font-family: sans-serif;
    font-weight: bold; 
    font-size: 14px;
}





.head-artikel h2{
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bold; 
    font-size: 36px;
}
.container-artikel{
    border-radius: 20px;
    margin: 0px 10px 0px 10px; 
}
.artikel-card-container{
    border-radius: 20px;
    height: 400px; 
    padding-top: 20px;
}
.link-artikel a{
    font-family: sans-serif;
    font-weight: bold; 
    font-size: 14px;
}
.link-pengumuman{
    padding-bottom: 10px;
}

/* end section pengumuman */




#footer{
    height: auto;
}