body{
    font-family: sans-serif;
}
/* section {
    height: 100%;
    width: 100%;
    display: inline-block;
} */

.navbar{
    padding: 0% 6% 0% 6%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.navbar-brand{
    margin: 0% 5% 0% 0%;
    padding-bottom: 0px;
}

.c-item{
    max-height: 600px;
}
.c-img{
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

#heroCarousel{
    padding-top: 80px;
    
}
.carousel{
    border-radius: 20px;
}

#carouselExampleCaptions {
    max-width: 80%; /* Set your desired maximum width */
    margin: auto; /* Center the carousel on the page */
}

#egoverment{
    margin-top: 40px;
    height: 800px;
    background-color: #077739;
    border-radius: 80px 80px 0px 0px;
}

.carousel-inner{
    border-radius: 20px;
}

.head-egov{
    padding-top: 20px;
    color: white;
    border-radius: 20px 20px 0px 0px;
    max-width: 70%;
    background-color: #077739;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin: auto;
}
.container-egov{
    padding: 10px 50px 10px 50px;
    color: white;
    max-width: 80%;
    border-radius: 0px 0px 20px 20px;
    background-color: #077739;
    font-style: normal;
    margin: auto;
}

.cd-img{
    height: 100%;
    object-fit: cover;
}

.card{
    background-color: #01A149;
    color: white;
    margin: 0.1rem;
    font-family: sans-serif;
}

#informasi{
    max-width: 90%; /* Set your desired maximum width */
    margin: auto; 
    height: auto;
    background-color: white;
    margin-top: -300px !important;
    border-radius: 20px 20px 20px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-info{
    /* background-color: green; */
    margin: 0px 20px 20px 20px; 
    height: 800px;
}
.berita{
    /* background-color: aqua; */
}
.galeri{
    /* background-color: aquamarine; */
}

.container-berita{
    /* background-color: yellow; */
    margin: 0px 10px 0px 10px; 
}

#footer{
    height: auto;
}

/* body{
    height: 1000px;
} */